{% extends "users/base.html" %}
{% block content %}
{% load static %}
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                       <div class="row">
                            {% if first_goods is not None %}
                            {% for i in one_page_list %}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="{{MEDIA_URL}}{{i.goods.goods_picture1}}" alt="" width="100" height="136">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{{MEDIA_URL}}{{i.goods.goods_picture2}}" alt="" width="100" height="136">

                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>于{{i.order_time}}发起订单</span>
                                        <h6>{{i.goods}}</h6>
                                        <p class="product-price">¥ {{i.goods.goods_price}}</p>

                                        <!-- Hover Content -->
                                        <form action="" method="post">{% csrf_token %}
                                           <div class="hover-content">
                                              <!-- Confirm the Order -->
                                              <div class="add-to-cart-btn">
                                                  <input type="hidden" value="{{i.goods.pk}}" name="goodsid">
                                                  <input type="submit" value="确认订单" class="btn essence-btn">
                                              </div>
                                           </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>

                     <!-- Pagination -->
                    <div class="pagination">
                        <span class="step-links">
                            <a href="?page=1">&laquo; 首页   </a>

                            {% if one_page_list.has_previous %}
                            <a href="?page={{ one_page_list.previous_page_number }}">上一页   </a>
                            {% endif %}

                            <span class="current">
                                第{{ one_page_list.number }}页，共{{ one_page_list.paginator.num_pages }}页
                            </span>

                            {% if one_page_list.has_next %}
                            <a href="?page={{ one_page_list.next_page_number }}">   下一页</a>
                            {% endif %}

                            <a href="?page={{ one_page_list.paginator.num_pages }}">   尾页 &raquo;</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->




{% endblock %}