{% extends "users/base.html" %}
{% block content %}
{% load static %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static 'sell/img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        {% if first_goods is None %}
                        <h2>该分类暂无商品</h2>
                        {% else %}
                        <h2>{{ subcategory_name }}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

 <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">商 品 分 类</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing"  class="collapsed">
                                        <a href="#">鞋服配饰</a>
                                        <ul class="sub-menu collapse" id="clothing">
                                            <li><a href="{% url 'sell:subcategory_view' '1' %}">女装</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '2' %}">男装</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '3' %}">鞋靴</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '4' %}">配饰 / 箱包</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#commodity" class="collapsed">
                                        <a href="#">生活日用</a>
                                        <ul class="sub-menu collapse" id="commodity">
                                            <li><a href="{% url 'sell:subcategory_view' '5' %}">美妆洗护</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '6' %}">家具</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '7' %}">家纺 / 家饰</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '8' %}">百货</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#transport" class="collapsed">
                                        <a href="#">交通工具</a>
                                        <ul class="sub-menu collapse" id="transport">
                                            <li><a href="{% url 'sell:subcategory_view' '9' %}">自行车</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '10' %}">电动车</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '11' %}">配件</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#electronic" class="collapsed">
                                        <a href="#">图书电子</a>
                                        <ul class="sub-menu collapse" id="electronic">
                                            <li><a href="{% url 'sell:subcategory_view' '12' %}">图书</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '13' %}">文具</a></li>
                                            <li><a href="{% url 'sell:subcategory_view' '14' %}">数码 / 电器</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p>查找到 <span>{{ num_of_goods }}</span> 件商品</p>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>排序依据：</p>
                                        <form action="#" method="get" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <select name="order_by_what" id="sortByselect">
                                                <option value="time">最新发布</option>
                                                <option value="price_asc">价格: ¥ - ¥¥¥</option>
                                                <option value="price_desc">价格: ¥¥¥ - ¥</option>
                                            </select>
                                            <input type="submit" class="" value="刷新排序">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% if first_goods is not None %}
                            {% for i in one_page_list %}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="{{MEDIA_URL}}{{i.goods_picture1}}" alt="">
                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{{MEDIA_URL}}{{i.goods_picture2}}" alt="">

                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            <a href="#" class="favme fa fa-heart"></a>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{i.goods_time}} 发布</span>
                                        <a href="{% url 'sell:detail' i.pk %}">
                                            <h6>{{i.goods_name}}</h6>
                                        </a>
                                        <p class="product-price">¥ {{i.goods_price}}</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="{% url 'sell:detail' i.pk %}" class="btn essence-btn">查 看 详 情</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>

                    <!-- Pagination -->
                    <div class="pagination">
                        <span class="step-links">
                            <a href="?page=1">&laquo; 首页   </a>

                            {% if one_page_list.has_previous %}
                            <a href="?page={{ one_page_list.previous_page_number }}">上一页   </a>
                            {% endif %}

                            <span class="current">
                                第{{ one_page_list.number }}页，共{{ one_page_list.paginator.num_pages }}页
                            </span>

                            {% if one_page_list.has_next %}
                            <a href="?page={{ one_page_list.next_page_number }}">   下一页</a>
                            {% endif %}

                            <a href="?page={{ one_page_list.paginator.num_pages }}">   尾页 &raquo;</a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Grid Area End ##### -->




{% endblock %}