{% extends "users/base.html" %}
{% block content %}
{% load static %}
 	<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>

    <script type="text/javascript">

	function validate_bkname()
	{
		with (bkname)
		{
			if (value==null||value=="")
			{
				alert("名称");return false}
				else {return true}
		}
	}

	function validate_bkprice(){
		with (bkprice)
		{
			if (value==null||value=="")
			{
				alert("价格");return false}
				else {return true}
		}
	}

	function validate_bktype()
	{
		with (bktype)
		{

			if (value==null||value=="")
			{
				alert("类别");return false}
				else {return true}
		}

	}


	function validate_bkdescription()
	{
		with (bkdescription)
		{

			if (value==null||value=="")
			{
				alert("请描述你的商品");return false}
				else {return true}
		}

	}

    </script>

<script type="text/javascript">
    $(function () {

     /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
$("#picture1").change(function () {
  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#image1").attr("src", e.target.result);
      $("#modalCrop1").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

$("#picture2").change(function () {
  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#image2").attr("src", e.target.result);
      $("#modalCrop2").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

$("#picture3").change(function () {
  if (this.files && this.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#image3").attr("src", e.target.result);
      $("#modalCrop3").modal("show");
    }
    reader.readAsDataURL(this.files[0]);
  }
});

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
var $image1 = $("#image1");
var cropBoxData1;
var canvasData1;
$("#modalCrop1").on("shown.bs.modal", function () {
  $image1.cropper({
    viewMode: 1,
    aspectRatio: 1/1,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    ready: function () {
      $image1.cropper("setCanvasData", canvasData1);
      $image1.cropper("setCropBoxData", cropBoxData1);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData1 = $image1.cropper("getCropBoxData");
  canvasData1 = $image1.cropper("getCanvasData");
  $image1.cropper("destroy");
});

// Enable zoom in button
$("#zoom-in1").click(function () {
  $image1.cropper("zoom", 0.1);
});

// Enable zoom out button
$("#zoom-out1").click(function () {
  $image1.cropper("zoom", -0.1);
});

var $image2 = $("#image2");
var cropBoxData2;
var canvasData2;
$("#modalCrop2").on("shown.bs.modal", function () {
  $image2.cropper({
    viewMode: 1,
    aspectRatio: 1/1,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    ready: function () {
      $image2.cropper("setCanvasData", canvasData2);
      $image2.cropper("setCropBoxData", cropBoxData2);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData2 = $image2.cropper("getCropBoxData");
  canvasData2 = $image2.cropper("getCanvasData");
  $image2.cropper("destroy");
});

// Enable zoom in button
$("#zoom-in2").click(function () {
  $image2.cropper("zoom", 0.1);
});

// Enable zoom out button
$("#zoom-out2").click(function () {
  $image2.cropper("zoom", -0.1);
});

var $image3 = $("#image3");
var cropBoxData3;
var canvasData3;
$("#modalCrop3").on("shown.bs.modal", function () {
  $image3.cropper({
    viewMode: 1,
    aspectRatio: 1/1,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    ready: function () {
      $image3.cropper("setCanvasData", canvasData3);
      $image3.cropper("setCropBoxData", cropBoxData3);
    }
  });
}).on("hidden.bs.modal", function () {
  cropBoxData3 = $image3.cropper("getCropBoxData");
  canvasData3 = $image3.cropper("getCanvasData");
  $image3.cropper("destroy");
});

// Enable zoom in button
$("#zoom-in3").click(function () {
  $image3.cropper("zoom", 0.1);
});

// Enable zoom out button
$("#zoom-out3").click(function () {
  $image3.cropper("zoom", -0.1);
});

     /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
$("#crop1").click(function () {
  var cropData = $image1.cropper("getData");
  $("#p1_x").val(cropData["x"]);
  $("#p1_y").val(cropData["y"]);
  $("#p1_height").val(cropData["height"]);
  $("#p1_width").val(cropData["width"]);
  $("#modalCrop1").modal("hide");
});

$("#crop2").click(function () {
  var cropData = $image2.cropper("getData");
  $("#p2_x").val(cropData["x"]);
  $("#p2_y").val(cropData["y"]);
  $("#p2_height").val(cropData["height"]);
  $("#p2_width").val(cropData["width"]);
  $("#modalCrop2").modal("hide");
});

$("#crop3").click(function () {
  var cropData = $image3.cropper("getData");
  $("#p3_x").val(cropData["x"]);
  $("#p3_y").val(cropData["y"]);
  $("#p3_height").val(cropData["height"]);
  $("#p3_width").val(cropData["width"]);
  $("#modalCrop3").modal("hide");
});

    });
  </script>

<!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static "sell/img/bg-img/breadcumb.jpg" %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>上传二手商品</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Form Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        {% if msg %}
                        <p> {{msg}}</p>
                        {% endif %}

                        <div class="cart-page-heading mb-30">
                            <h5>请提供商品信息</h5>
                        </div>

                        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label>名称<span>*</span></label>
                                    <input type="text" name="bkname" class="form-control" id="" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label>价格<span>*</span></label>
                                    <input type="" name="bkprice" class="form-control" id="" value="" required>
                                </div>
                                <div class="col-12 mb-3">
                                    <label>类别<span>*</span></label>
                                    <select class="w-100" name = "bktype" value="" required>
                                        <option value="1">女装</option>
                                        <option value="2">男装</option>
                                        <option value="3">鞋靴</option>
                                        <option value="4">配饰/箱包</option>
                                        <option value="5">美妆洗护</option>
                                        <option value="6">家具</option>
                                        <option value="7">家纺/家饰</option>
                                        <option value="8">百货</option>
                                        <option value="9">自行车</option>
                                        <option value="10">电动车</option>
                                        <option value="11">配件</option>
                                        <option value="12">图书</option>
                                        <option value="13">文具</option>
                                        <option value="14">数码/电器</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label>请描述你的商品<span>*</span></label>
                                    <input type="text" name="bkdescription"  class="form-control mb-3" id="" value="">
                                </div>
                                <div class="col-12 mb-3">
                                    <label>照片1<span>*</span></label>
                                    <input name="bkimage1" id="picture1" type='file' onchange="readURL(this);" />
                                    <input type="hidden" id="p1_x" name="pic1_x" />
                                    <input type="hidden" id="p1_y" name="pic1_y" />
                                    <input type="hidden" id="p1_height" name="pic1_height" />
                                    <input type="hidden" id="p1_width" name="pic1_width" />
                                </div>
                                <div class="col-12 mb-3">
                                    <label>照片2<span>*</span></label>
                                    <input name="bkimage2" id="picture2" type='file' onchange="readURL(this);" />
                                    <input type="hidden" id="p2_x" name="pic2_x" />
                                    <input type="hidden" id="p2_y" name="pic2_y" />
                                    <input type="hidden" id="p2_height" name="pic2_height" />
                                    <input type="hidden" id="p2_width" name="pic2_width" />
                                </div>
                                <div class="col-12 mb-3">
                                    <label>照片3<span>*</span></label>
                                    <input name="bkimage3" id="picture3" type='file' onchange="readURL(this);" />
                                    <input type="hidden" id="p3_x" name="pic3_x" />
                                    <input type="hidden" id="p3_y" name="pic3_y" />
                                    <input type="hidden" id="p3_height" name="pic3_height" />
                                    <input type="hidden" id="p3_width" name="pic3_width" />
                                </div>
                                <br>
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox d-block mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">我已阅读二手交易条款</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <input type="submit" value="上传" class="btn essence-btn" onclick="validate_bkname();validate_bkprice();validate_bktype();validate_bkdescription()">
                                <br>
                                <br>
                                <br>

                            </div>
                        </form>
                    </div>
                </div>
		    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                    <div class="order-details-confirmation">

                        <div class="cart-page-heading">
                            <h5 style="font-size: 16px">清华大学二手交易网站交易条款</h5>
                            <p style="font-size: 14px">请认真阅读下列条款。本网站依据本协议规定提供服务，您必须完全同意本协议，才能够享受本网站提供的服务。</p>
                           
                            <p style="font-size: 12px">
                              1. 用户权利与义务<br>
                              1.1 用户可按照本服务协议利用网站查询物品信息、发布交易信息、登录商品及参加网站相关活动；
                              1.2 用户在交易过程中如与其他用户因交易产生纠纷，可以请求网站工作人员从中予以协调。用户如发现其他用户有违法或违反本协议的行为，可以向网站反映并要求处理；
                              1.3 用户有义务在交易过程中向网站提供自己的真实资料，并保证相关内容的合法性；
                              1.4 用户禁止在网站上发布违反法律法规及本服务协议的内容，包括攻击诽谤他人、发布违禁品信息等，不得恶意利用网站提供的相关信息；<br><br>
                              2. 网站服务<br>
                              2.1 本网站可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供全部或部分服务。服务终止后，本网站没有义务为用户保留信息；
                              2.2 本网站仅作为中介平台为买卖双方提供信息，买卖双方需自行评估交易风险并自行承担全部交易后果；
                              2.3 网站保护用户的隐私权，不会向任何人出售或出街用户的个人信息，除非实线取得用户的许可；<br><br>
                              3.  交易流程及提醒<br>
                              3.1 卖家可在网站发布商品信息，待买家发起订单且完成线下交易后，卖家操作确认交易完成；
                              3.2 用户需自行妥善保管账户及密码信息，不要轻易向陌生人泄露；
                            3.3 在交易过程中，用户需谨慎评估交易风险，妥善保护个人信息，警惕虚假诈骗信息，时刻关注个人财产安全；
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ##### Form Area End ##### -->

<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: right">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image1" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button id="zoom-in1" type="button" class="btn btn-default js-zoom-in" >
            <span> + </span>
          </button>
          <button id="zoom-out1" type="button" class="btn btn-default js-zoom-out">
            <span> - </span>
          </button>
        </div>
        <button id="crop1" type="button" class="btn btn-primary js-crop-and-upload">确认裁剪</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCrop2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: right">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image2" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button id="zoom-in2" type="button" class="btn btn-default js-zoom-in" >
            <span> + </span>
          </button>
          <button id="zoom-out2" type="button" class="btn btn-default js-zoom-out">
            <span> - </span>
          </button>
        </div>
        <button id="crop2" type="button" class="btn btn-primary js-crop-and-upload">确认裁剪</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCrop3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: right">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="" id="image3" style="max-width: 100%;">
      </div>
      <div class="modal-footer">
        <div class="btn-group pull-left" role="group">
          <button id="zoom-in3" type="button" class="btn btn-default js-zoom-in" >
            <span> + </span>
          </button>
          <button id="zoom-out3" type="button" class="btn btn-default js-zoom-out">
            <span> - </span>
          </button>
        </div>
        <button id="crop3" type="button" class="btn btn-primary js-crop-and-upload">确认裁剪</button>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
{% endblock %}
