{% extends "users/base.html" %}
{% block content %}
{% load static %}
<!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url({% static "sell/img/bg-img/breadcumb.jpg" %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>个人信息</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ##### Breadcumb Area End ##### -->

<div class="checkout_details_area mt-50 clearfix" align="center">
<h4>账户信息</h4>
<br>
<table width="400" frame="above" cellspacing="200px" style="font-size: 18px">
<tr>
<td align="middle" height="60">用户名</td>
<td align="middle">{{ user.username }}</td>
</tr>
<tr>
<td align="middle">邮箱</td>
<td align="middle">{{ user.email }}</td>
</tr>
</table>

<br>

<br>

<br>
<h4>个人档案</h4>
<table width="400" frame="above" cellspacing="200px" style="font-size: 18px">
<tr>
<td align="middle" height="60">姓名</td>
<td align="middle">{{ user.last_name }}{{user.first_name}}</td>
</tr>
    <tr>
<td align="middle" width="50%"height="60">学号</td>
<td align="middle" width="50%">{{ user.profile.studentno }}</td>
</tr>
<tr>
<td align="middle" width="50%"height="60">院系</td>
<td align="middle" width="50%">{{ user.profile.org }}</td>
</tr>
<tr>
<td align="middle" width="50%"height="60">电话</td>
<td align="middle" width="50%">{{ user.profile.telephone }}</td>
</tr>
    <tr>
<td align="middle" width="50%"height="60">微信</td>
<td align="middle" width="50%">{{ user.profile.wechat }}</td>
</tr>
</table>
<br>
<br>
<br>

{% if user.is_authenticated %}
<a href="{% url 'users:profile_update' %}" style="font-size: 14px">编辑个人信息</a>
| <a href="{% url 'users:pwd_change' %}"style="font-size: 14px">修改密码 </a>
| <a href="{% url 'users:logout' %}"style="font-size: 14px">退出登录</a>
{% endif %}
</div>

<br>
{% endblock %}
